@model IEnumerable<PagHiper.Domain.Entities.Boleto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerCpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerComplement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountCents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingPriceCents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingMethods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeBankSlip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerCpfCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerComplement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerDistrict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountCents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingPriceCents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingMethods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixedDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeBankSlip)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
