@model IEnumerable<PagHiper.Domain.Entities.Aluno.Aluno>

@{
    ViewData["Title"] = "Cadastro de alunos";
}

<h1>Cadastro de alunos</h1>

<p>
    <a asp-action="Create">Cadastrar novo aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelParentesco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusFinanceiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAtualizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelParentesco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusFinanceiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
