@model PagHiper.Domain.Entities.Boleto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Boleto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerCpfCnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerCpfCnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerComplement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerComplement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayerZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountCents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingPriceCents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingPriceCents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixedDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixedDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeBankSlip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeBankSlip)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
